
#main{
    color: white;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.2fr 1.5fr 0.5fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 5px;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 500;

}

nav{
    grid-area: nav;
    background-color: #a7a7a7;
}
main{
    grid-area: main;
    background-color: #9a9999;
}

#sidebar{
    grid-area: sidebar;
    background-color: #858585;
    margin-bottom: 20px;
}

#content1{
    grid-area: content1;
    background-color: #656565;
}

#content2{
    grid-area: content2;
    background-color: #686868;
}

#content3{
    grid-area: content3;
    background-color: #494949;
}
footer{
    grid-area: footer;
    background-color: #383838;
    margin-bottom: 20px;
}
nav,main,#sidebar,#content1,#content2,#content3,footer{
    display: grid;
    align-items: center;
    place-content: center;
    border-radius: 10px; 
}


@media only screen and (max-width: 550px){
    #main{
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 2fr 3fr 2.5fr 2.5fr 2.5fr 1.5fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    nav,main,#sidebar,#content1,#content2,#content3,footer{
        display: grid;
        align-items: center;
        place-content: center;
        border-radius: 10px; 
    }
    nav{
        background-color: darkblue;
        transition: 2s ease;
    }main{
        background-color: darkcyan;
        transition: 2s ease;
    }#sidebar{
        background-color: darkgoldenrod;
        transition: 2s ease;
    }#content1{
        background-color: darkgray;
        transition: 2s ease;
    }#content2{
        background-color: darkgreen;
        transition: 2s ease;
    }#content3{
        background-color: darkmagenta;
        transition: 2s ease;
    }footer{
        background-color: darkorchid;
        transition: 2s ease;
    }
}